
*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 26px auto 140px;
    grid-template-areas: "header  header header"
                          "main   main   main"
                          "footer footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
.habitaciones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.img__index{
    width: 100%;
    height: 70%;
    
}
main>div>img{
    width:300px;
    height: 200px;
}
.video{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
nav{
    padding: 3px;
    background-color: darkgrey;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    position: relative;
    width: 15%;
    font-size: 8px;
}
ul ul{
    display: none;
    position: absolute;
}
ul ul li{
    display: inline-block;
    width: 100%;
}
ul li:hover ul{
    display: block;
}
body{
    border: black;
    margin: 10px;
    padding: 10px;
    background-color: lightyellow;
}
p{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: x-small;
}
h2{
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: small;
}
footer {
    grid-area: footer;
    padding: 15px;
    color: lightyellow;
    background-color: goldenrod;
}
.letraImg{
    font-size: 12px;
    color: lightyellow;
    position: relative;
    bottom: 40px;
    text-align: center;
}

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;   
    align-items: center;
}
table{
    margin: 20px;
    background-color: cadetblue;
    font-size: larger;
    font-weight: bolder;
    color: aliceblue;

}

@media (min-width:768px){
    *{
        margin: 0;
        padding: 0;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 60px auto 200px;
        grid-template-areas: "header  header header"
                              "main   main   main"
                              "footer footer footer";
    }
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    .img__index{
        width: 100%;
        height: 70%;
    }
    .habitaciones{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main>div>img{
        width:350px;
        height: 250px;
    }
    .video{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    nav{
        padding: 10px;
        background-color: darkgrey;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
    }
    ul{
        list-style-type: none;
    }
    li{
        display: inline-block;
        position: relative;
        width: 15%;
        font-size: 18px;
    }
    ul ul{
        display: none;
        position: absolute;
    }
    ul ul li{
        display: inline-block;
        width: 100%;
    }
    ul li:hover ul{
        display: block;
    }
    body{
        border: black;
        margin: 10px;
        padding: 10px;
        background-color: lightyellow;
    }
    p{
        text-align: center;
        font-style: italic;
        font-weight: bold;
        font-size: medium;
    }
    h2{
        padding: 14px;
        text-align: center;
        font-style: italic;
        font-weight: bolder;
        font-size: larger;
    }
    footer {
        grid-area: footer;
        padding: 15px;
        color: lightyellow;
        background-color: goldenrod;
    }
    .letraImg{
        font-size: 24px;
        color: lightyellow;
        position: relative;
        bottom: 40px;
        text-align: center;
    }
    
    form{
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;   
        align-items: center;
    }
    table{
        margin: 20px;
        background-color: cadetblue;
        font-size: larger;
        font-weight: bolder;
        color: aliceblue;
    
    }
}

@media (min-width:1024px){
    *{
        margin: 0;
        padding: 0;
    }
    .transformacion:hover{
        transform: scale(1.1);
    }
    .logo{
        width: 70px;
        height: 70px;
        border-radius: 35px;
        animation-name: efecto;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
                        
    }
    @keyframes efecto{
        0%{
            transform: translateX(-100px);
        }
      
        100%{
            transform: translateX(0px);
        }
    } 
    body{
        border: black;
        margin: 10px;
        padding: 10px;
        background-color: lightyellow;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 125px auto 250px;
        grid-template-areas: "header  header header"
                              "main   main   main"
                              "footer footer footer";
    }
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    .habitaciones{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .img__index{
        width: 100%;
        height: 70%;
    }
    main>div>img{
        width:400px;
        height: 300px;
    }
    .video{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    nav{
        padding: 10px;
        background-color: darkgrey;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
    }
    ul{
        list-style-type: none;
    }
    li{
        display: inline-block;
        position: relative;
        width: 15%;
        font-size: 22px;
    }
    ul ul{
        display: none;
        position: absolute;
    }
    ul ul li{
        display: inline-block;
        width: 100%;
    }
    ul li:hover ul{
        display: block;
    }
    p{
        text-align: center;
        font-style: italic;
        font-weight: bold;
        font-size: x-large;
    }
    h2{
        padding: 18px;
        text-align: center;
        font-style: italic;
        font-weight: bolder;
        font-size: xx-large;
    }
    footer {
        grid-area: footer;
        padding: 15px;
        color: lightyellow;
        background-color: goldenrod;
    }
    .letraImg{
        font-size: 28px;
        color: lightyellow;
        position: relative;
        bottom: 60px;
        text-align: center;
    }
    
    form{
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;   
        align-items: center;
    }
    table{
        margin: 20px;
        background-color: cadetblue;
        font-size: larger;
        font-weight: bolder;
        color: aliceblue;
    
    }
}
